<div class="container">
    <div class="row m-0 vh-100">
        <div class="col-6 m-0 pr-2 my-auto">
            <img
                src="https://raw.githubusercontent.com/jgom1/lucatinder/master/src/assets/img/lucatinder-silueta-hombre.png"
                alt="Imagen perfil"
            >
        </div>

        <div class="col-6 m-0 pl-2 my-auto">
            <div class="row m-0 pb-5">
                <p class="col-6 m-0 pl-0 h3 text-left">Nombre</p>

                <p class="col-6 m-0 pr-0 h3 text-right">Edad</p>
            </div>

            <p class="h4 romper-palabras">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus doloremque labore corrupti, accusantium distinctio laboriosam asperiores, totam cupiditate aspernatur consectetur assumenda quibusdam, voluptatem ab molestiae culpa dicta omnis non nobis?
            </p>

            <div class="text-right pt-5">
                <button class="col-6 m-0 btn btn-outline-success">Enviar mensaje</button>
            </div>
        </div>
    </div>
</div>