<div class="vh-100">
    <div class="h-25 d-flex align-items-end justify-content-center">
        <img class="h-75" src="assets/img/logo-lucatinder-s.png" alt="Logo lucatinder"> 
    </div>
    <div class="row m-0 h-50">
        <div class="col-6 p-0 my-auto">
            <div class="col-6 p-0 mx-auto">
                <app-login></app-login>
            </div>
        </div>
        <div class="col-6 p-0 border-left my-auto">
            <div class="col-6 p-0 mx-auto">
                <app-registro></app-registro>
            </div>
        </div>
    </div>
    <div class="h-25 d-flex flex-column justify-content-center text-center">
        <p class="h3">Realizado con <span><i class="fab fa-angular"></i></span></p>
        <p class="h4">{{ fecha }}</p>
    </div>
</div>
