/* You can add global styles to this file, and also import other style files */
.perfil:hover{
    color: red;
    text-decoration: none;
}
.perfil:hover .card{
    border-color: red;
}
.romper-palabras{
    -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}